



.person-card {
  width: 80%;
  height: fit-content;
  color: black;
  /* border: 2px solid rgb(153, 255, 0); */
margin: 5px;
}
.person-card:hover {
cursor: pointer;
  height:65px;
  /* border: 2px solid rgb(153, 255, 0); */
  /* box-shadow: 0.5px 0.5px 2px 1px rgb(153, 255, 0); */
  box-sizing: border-box;
}

.person-card-view {
  width: 4rem;
  border-radius: 15px;

}
@media only screen and (max-width: 472px) {
  .person-card {
    width: 12rem !important;
    margin: 15px;
  }
  .person-card:hover {
    width: 13rem !important;
  }
}
@media only screen and (max-width: 440px) {
  .person-card {
    width: 7rem !important;
  }
  .person-card:hover {
    width: 8rem !important;
  }
}
@media only screen and (max-width: 300px) {
  .person-card {
    width: 7rem !important;
  }
  .person-card:hover {
    width: 8rem !important;
  }
}

