.project-status {
  width: 100vw;
height:auto;
  background-image: url("../image/backimg.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.project-status-box {
  margin-top: 60px;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  text-align: center;
}
.data-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  text-align: center;
  gap: 20px;
}
.backLink {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
  margin: 10px;
  /* margin-right: 25px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.time-taken {
  width: 150px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
  margin: 10px;
  /* margin-right: 25px; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title-proj {
  width: 100vw !important;
  border: 1px solid #19191b;
  background-color: #19191b;
  margin: 0px !important;
  color: white;
  text-align: center;
 padding-top:5px;
}
.data-box-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.heading-style {
  color: white;
  margin: 10px 65px;
}

.writer-heading-style-title {
  color: white;
  margin-right: 20px;

  padding: 0px 30px;
}
.writer-heading-style-link {
  color: white;
  margin-right: 50px;
  padding: 0px 30px;
}
.writer-heading-style-view {
  color: white;

  padding: 0px 30px;

  margin-right: 50px;
}
.backlink-title {
  width: 150px;
  height: 50px;
  margin: 0px 30px;
  border: 1px solid black;
  color: white;
}
.timetaken-title {
  width: 150px;
  height: 50px;
  border: 1px solid black;
  margin: 0px 30px;
  color: white;
}
.div-view {
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  color: black;
  padding: 0px 5px;
  background-color: orange;
  padding: 5px;
  cursor: pointer;
}
.filter {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

/* .attend-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
} */
/* .attend-box {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  margin: 0px 20px;
  padding: 10px;
  background-color: white;
} */
/* .dumy-heading {
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  margin: auto;

  justify-content: center;
} */
/* .dummy-attend-box {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  margin: 0px 20px;
  padding: 10px;
  color: white;
  background-color: black;
} */
.form-designer-box {
  width: 95%;
  height: 70%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.form-container {
  margin: auto;
}
.designer-input > input {
  width: 150px;
  padding: 5px 10px;
  border: 2px solid black;
  margin: 15px;
  text-align: center;
}
.file > input {
  width: 225px;
  padding: 2.5px 10px;
  background-color: white;
  border: 2px solid black;
  margin: 15px;
  text-align: center;
}
.submit-btn {
  padding: 4px 10px;
  background-color: orange;
  color: black;
}
.submit-btn:hover {
  background-color: #19191b;
  color: white;
}
.img {
  max-width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-box-img {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
}
.data-box-img > .title {
  margin-left: 20px;

  color: white;
}
.img-bg {
  width: 100%;
  height: auto;

  /* background-color: black; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  margin-left: 10px;
}
.sucess {
  color: green;
  font-size: 1rem;
}
.data-box > span > a {
  overflow: hidden;
}
.view {
  background-color: #19191b;
  color: white;
  cursor: pointer;
}
.weblink {
  width: 200px;
  overflow: hidden;
}
.project-view-box {
  width: 500px;
  height: auto;
  border: 1px solid red;
  background-color: #19191b;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.time-taken > a {
  overflow: hidden;
}
.keyword {
  width: 150px;
  height: 50px;
  overflow: hidden;
  word-wrap: break-word;

  white-space: pr;
  /* display: flex;
 flex-wrap: wrap; */
}
.project-details {
  width: 500px;
  height: auto;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
.project-content-box {
  display: block;
  flex-wrap: wrap;
  margin-top: 50px;
}
.project-matter {
  width: 450px;
  height: 40px;
  border-bottom: 1px solid #19191b;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  word-wrap: break-word;
}
/* .project-matter>label{
  margin-right: 30px;
  
} */
.proj-date {
  margin-left: 15px;
}
.proj-link {
  margin-left: 20px;
}
.project-keyword {
  width: 450px;
  height: fit-content;
  border-bottom: 1px solid #19191b;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  text-align: left;
  word-wrap: break-word;
}
.proj-keyword {
  margin-left: 15px;

  width: 300px;
  height: fit-content;
  margin-bottom: 10px;
}
.proj-type {
  margin-left: 45px;
}
.proj-status {
  margin-left: 30px;
}
.proj-remark {
  margin-left: 50px;
}
.proj-timetaken {
  margin-left: 25px;
}
.project-link {
  width: 200px;
  overflow: hidden;
  word-wrap: normal;
}
.cancel-btn{

  margin: auto;
  margin-top: 10px;
  text-align: center;
  border: 1px solid orange;
  background-color: orange;
  color: #19191b;
}
.backlink{
  width: 100px;
  height: 15px;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.backlink>a{
  width: 100px;
  height: 25px;

  overflow: hidden;
}