.card-container{
    width: auto;
    height: 90vh;
    border: 1px solid red;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: rgb(235, 229, 229);
}
.card-top{
    width: 70vw;
    margin: auto;
    display: flex;
    
}
/* .card-top-container{
    width: 100%;
    height: auto;
    border: 5px solid red;
    margin-bottom: 50px;
} */
.cards{

 display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.cards>.card{
    min-width: 280px;
   height: 280px;
    border: 2px solid black;
   
 display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
  margin: 20px;
   font-size: 1.5rem;
   color: black;
  
font-weight: 600;
   text-decoration: none;
  
   background-color: white;
   text-align: center;
}


.cards>.card:hover {
    min-width: 280px;
    height: 280px;
    background-color: black;
    color: white;
    text-align: center;
    /* filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5)); */
}

@media only screen and (max-width:280px) {
    .cards>.card{
        min-width: 150px;
        height: 150px;
    }
   
}