/* 
.form-leave{
   
    width: 100vw;
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../image/backimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
    position: relative; 
  }
  .form-container{
     
  }

  .form-dis{
    width: 100vw;
    border: 1px solid red;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
  .form-flex{
    display: flex;
    flex-wrap: wrap;
  } */